[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "==7.0.0"
junit2html = "==30.0.6"
c2cwsgiutils = {version = "==4.1.4", extras = ["standard"]}

[dev-packages]

[requires]
python_version = "3.8"
