.card {
    margin-top: 2em;
}

.level-INFO {
    background-color: #b2ff99;
}

.level-WARN {
    background-color: #ffb195;
}

.level-ERROR, .level-SEVERE {
    background-color: #ff1b22;
}

.table {
    table-layout: fixed;
}

.job-ERROR {
    background-color: #ffb195;
}

.job-CANCELLED {
    text-decoration: line-through;
}

dd {
    white-space: pre-wrap;
}
