[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
humanfriendly = "==10.0"
pyramid-mako = "==1.1.0"
c2cwsgiutils = {version = "==4.1.4", extras = ["broadcast", "standard"]}
pyramid = "==2.0"
sqlalchemy = "==1.4.29"
setuptools = "==60.1.0"

[dev-packages]
prospector = {version = "==1.5.3.1", extras = ["with_bandit", "with_mypy"]}
flake8 = "==3.9.2"
types-setuptools = "==57.4.4"
types-pyyaml = "==6.0.1"
types-requests = "==2.26.2"

[requires]
python_version = "3.8"
