[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
humanfriendly = "==10.0"
pyramid-mako = "==1.1.0"
c2cwsgiutils = {version = "==5.0.0", extras = ["broadcast", "standard"]}
pyramid = "==2.0"
sqlalchemy = "==1.4.32"
setuptools = "==61.0.0"

[dev-packages]
prospector = {version = "==1.7.7", extras = ["with_bandit", "with_mypy"]}
flake8 = "==4.0.1"
types-setuptools = "==57.4.11"
types-pyyaml = "==6.0.5"
types-requests = "==2.27.14"

[requires]
python_version = "3.8"
