[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
humanfriendly = "==9.2"
pyramid-mako = "==1.1.0"
c2cwsgiutils = {version = "==4.1.3", extras = ["broadcast", "standard"]}
pyramid = "==2.0"
sqlalchemy = "==1.4.20"

[dev-packages]
prospector = {version = "==1.3.1", extras = ["bandit", "mypy"]}
flake8 = "==3.8.4"

[requires]
python_version = "3.8"
